header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 10px, 50px;
    align-items: center;
}
.navigation{
    padding-left: 70px;
}
.navigation a:hover{
    color: red;
}
